In [213]:
import pandas as pd
import numpy as np


df = pd.DataFrame.from_csv('rankings.csv')
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>win%</th>
      <th>Hand</th>
      <th>Suit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.5106</td>
      <td>2H 2C</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.3464</td>
      <td>2H 3C</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.3564</td>
      <td>2H 4C</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.3688</td>
      <td>2H 5C</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.3768</td>
      <td>2H 6C</td>
      <td>Offsuite</td>
    </tr>
  </tbody>
</table>
</div>

In [214]:
#print all hands in the 90th percentile
print np.percentile(df['win%'],90)
df[df['win%']>np.percentile(df['win%'],90)]

0.6412

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>win%</th>
      <th>Hand</th>
      <th>Suit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>65</th>
      <td>0.6650</td>
      <td>7H 7C</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>78</th>
      <td>0.6992</td>
      <td>8H 8C</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>91</th>
      <td>0.7252</td>
      <td>9H 9C</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>104</th>
      <td>0.7578</td>
      <td>TH TC</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>108</th>
      <td>0.6436</td>
      <td>TH AC</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>117</th>
      <td>0.7740</td>
      <td>JH JC</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>120</th>
      <td>0.6420</td>
      <td>JH AC</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>130</th>
      <td>0.8006</td>
      <td>QH QC</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>132</th>
      <td>0.6430</td>
      <td>QH AC</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>143</th>
      <td>0.8192</td>
      <td>KH KC</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>144</th>
      <td>0.6600</td>
      <td>KH AC</td>
      <td>Offsuite</td>
    </tr>
    <tr>
      <th>154</th>
      <td>0.6428</td>
      <td>KH JH</td>
      <td>suited</td>
    </tr>
    <tr>
      <th>156</th>
      <td>0.8464</td>
      <td>AH AC</td>
      <td>pair</td>
    </tr>
    <tr>
      <th>165</th>
      <td>0.6682</td>
      <td>AH TH</td>
      <td>suited</td>
    </tr>
    <tr>
      <th>166</th>
      <td>0.6452</td>
      <td>AH JH</td>
      <td>suited</td>
    </tr>
    <tr>
      <th>167</th>
      <td>0.6716</td>
      <td>AH QH</td>
      <td>suited</td>
    </tr>
    <tr>
      <th>168</th>
      <td>0.6822</td>
      <td>AH KH</td>
      <td>suited</td>
    </tr>
  </tbody>
</table>
</div>

In [215]:
#df[df.Hand =='2H 2C']
#type([df[x:x+1].Hand for x in range(0,10) if df[x:x+1].Hand.item !='2H 3C'][0][1])
df2 = df.set_index(np.arange(len(df.Hand)))
df['Status']= ''
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>win%</th>
      <th>Hand</th>
      <th>Suit</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.5106</td>
      <td>2H 2C</td>
      <td>pair</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.3464</td>
      <td>2H 3C</td>
      <td>Offsuite</td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.3564</td>
      <td>2H 4C</td>
      <td>Offsuite</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.3688</td>
      <td>2H 5C</td>
      <td>Offsuite</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.3768</td>
      <td>2H 6C</td>
      <td>Offsuite</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

In [228]:
i = 0
for x,y  in zip(df.Hand,df.Suit):
    val = x[0]+ ' ' + x[3] +' ' + y
    print val
    df.set_value(i, "Status", val)
    i += 1
    

#print df

2 2 pair
2 3 Offsuite
2 4 Offsuite
2 5 Offsuite
2 6 Offsuite
2 7 Offsuite
2 8 Offsuite
2 9 Offsuite
2 T Offsuite
2 J Offsuite
2 Q Offsuite
2 K Offsuite
2 A Offsuite
3 3 pair
3 4 Offsuite
3 5 Offsuite
3 6 Offsuite
3 7 Offsuite
3 8 Offsuite
3 9 Offsuite
3 T Offsuite
3 J Offsuite
3 Q Offsuite
3 K Offsuite
3 A Offsuite
3 2 suited
4 4 pair
4 5 Offsuite
4 6 Offsuite
4 7 Offsuite
4 8 Offsuite
4 9 Offsuite
4 T Offsuite
4 J Offsuite
4 Q Offsuite
4 K Offsuite
4 A Offsuite
4 2 suited
4 3 suited
5 5 pair
5 6 Offsuite
5 7 Offsuite
5 8 Offsuite
5 9 Offsuite
5 T Offsuite
5 J Offsuite
5 Q Offsuite
5 K Offsuite
5 A Offsuite
5 2 suited
5 3 suited
5 4 suited
6 6 pair
6 7 Offsuite
6 8 Offsuite
6 9 Offsuite
6 T Offsuite
6 J Offsuite
6 Q Offsuite
6 K Offsuite
6 A Offsuite
6 2 suited
6 3 suited
6 4 suited
6 5 suited
7 7 pair
7 8 Offsuite
7 9 Offsuite
7 T Offsuite
7 J Offsuite
7 Q Offsuite
7 K Offsuite
7 A Offsuite
7 2 suited
7 3 suited
7 4 suited
7 5 suited
7 6 suited
8 8 pair
8 9 Offsuite
8 T Offsuite
8 J Offsuite
8 Q Offsuite
8 K Offsuite
8 A Offsuite
8 2 suited
8 3 suited
8 4 suited
8 5 suited
8 6 suited
8 7 suited
9 9 pair
9 T Offsuite
9 J Offsuite
9 Q Offsuite
9 K Offsuite
9 A Offsuite
9 2 suited
9 3 suited
9 4 suited
9 5 suited
9 6 suited
9 7 suited
9 8 suited
T T pair
T J Offsuite
T Q Offsuite
T K Offsuite
T A Offsuite
T 2 suited
T 3 suited
T 4 suited
T 5 suited
T 6 suited
T 7 suited
T 8 suited
T 9 suited
J J pair
J Q Offsuite
J K Offsuite
J A Offsuite
J 2 suited
J 3 suited
J 4 suited
J 5 suited
J 6 suited
J 7 suited
J 8 suited
J 9 suited
J T suited
Q Q pair
Q K Offsuite
Q A Offsuite
Q 2 suited
Q 3 suited
Q 4 suited
Q 5 suited
Q 6 suited
Q 7 suited
Q 8 suited
Q 9 suited
Q T suited
Q J suited
K K pair
K A Offsuite
K 2 suited
K 3 suited
K 4 suited
K 5 suited
K 6 suited
K 7 suited
K 8 suited
K 9 suited
K T suited
K J suited
K Q suited
A A pair
A 2 suited
A 3 suited
A 4 suited
A 5 suited
A 6 suited
A 7 suited
A 8 suited
A 9 suited
A T suited
A J suited
A Q suited
A K suited

In [229]:
df.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>win%</th>
      <th>Hand</th>
      <th>Suit</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>164</th>
      <td>0.6410</td>
      <td>AH 9H</td>
      <td>suited</td>
      <td>A 9 suited</td>
    </tr>
    <tr>
      <th>165</th>
      <td>0.6682</td>
      <td>AH TH</td>
      <td>suited</td>
      <td>A T suited</td>
    </tr>
    <tr>
      <th>166</th>
      <td>0.6452</td>
      <td>AH JH</td>
      <td>suited</td>
      <td>A J suited</td>
    </tr>
    <tr>
      <th>167</th>
      <td>0.6716</td>
      <td>AH QH</td>
      <td>suited</td>
      <td>A Q suited</td>
    </tr>
    <tr>
      <th>168</th>
      <td>0.6822</td>
      <td>AH KH</td>
      <td>suited</td>
      <td>A K suited</td>
    </tr>
  </tbody>
</table>
</div>

In [266]:
perc = df[df['win%']>np.percentile(df['win%'],90)]
print perc

       win%   Hand      Suit        Status
65   0.6650  7H 7C      pair      7 7 pair
78   0.6992  8H 8C      pair      8 8 pair
91   0.7252  9H 9C      pair      9 9 pair
104  0.7578  TH TC      pair      T T pair
108  0.6436  TH AC  Offsuite  T A Offsuite
117  0.7740  JH JC      pair      J J pair
120  0.6420  JH AC  Offsuite  J A Offsuite
130  0.8006  QH QC      pair      Q Q pair
132  0.6430  QH AC  Offsuite  Q A Offsuite
143  0.8192  KH KC      pair      K K pair
144  0.6600  KH AC  Offsuite  K A Offsuite
154  0.6428  KH JH    suited    K J suited
156  0.8464  AH AC      pair      A A pair
165  0.6682  AH TH    suited    A T suited
166  0.6452  AH JH    suited    A J suited
167  0.6716  AH QH    suited    A Q suited
168  0.6822  AH KH    suited    A K suited

In [236]:
df.to_csv('Rankings2.csv')

In [265]:
import itertools
abridged_deck = []
original_suits = 'CDHS'
for i in perc.Status:
    if 'pair' in i:
        [abridged_deck.append((i[0]+j[0],i[0]+j[1])) for j in itertools.combinations(original_suits,2)]        
    if 'suited' in i:
        [abridged_deck.append((i[0]+j[0],i[2]+j[0])) for j in original_suits]
    if 'Offsuite' in i:
        print i
        [abridged_deck.append((i[0]+j[0],i[2]+j[1])) for j in itertools.combinations(original_suits,2)]
        [abridged_deck.append((i[0]+j[1],i[2]+j[0])) for j in itertools.combinations(original_suits,2)]
print abridged_deck

T A Offsuite
J A Offsuite
Q A Offsuite
K A Offsuite
[('TC', 'AD'), ('TC', 'AH'), ('TC', 'AS'), ('TD', 'AH'), ('TD', 'AS'), ('TH', 'AS'), ('TD', 'AC'), ('TH', 'AC'), ('TS', 'AC'), ('TH', 'AD'), ('TS', 'AD'), ('TS', 'AH'), ('JC', 'AD'), ('JC', 'AH'), ('JC', 'AS'), ('JD', 'AH'), ('JD', 'AS'), ('JH', 'AS'), ('JD', 'AC'), ('JH', 'AC'), ('JS', 'AC'), ('JH', 'AD'), ('JS', 'AD'), ('JS', 'AH'), ('QC', 'AD'), ('QC', 'AH'), ('QC', 'AS'), ('QD', 'AH'), ('QD', 'AS'), ('QH', 'AS'), ('QD', 'AC'), ('QH', 'AC'), ('QS', 'AC'), ('QH', 'AD'), ('QS', 'AD'), ('QS', 'AH'), ('KC', 'AD'), ('KC', 'AH'), ('KC', 'AS'), ('KD', 'AH'), ('KD', 'AS'), ('KH', 'AS'), ('KD', 'AC'), ('KH', 'AC'), ('KS', 'AC'), ('KH', 'AD'), ('KS', 'AD'), ('KS', 'AH')]